<div class="header"><h4 class="title">Clérentin's Messages</h4></div>
<div class="content">
    <div class="table-full-width">                           <!-- Clerentin's Messages -->
        <table class="table">
            <thead>
                <tr>
                <th>Message</th>
                <th>Created</th>
                </tr>
            </thead>
            <tbody id="clerentins-messages"></tbody>
        </table>
    </div>
</div>