<div class="header"><h4 class="title">Messages</h4></div>
<div class="content">
    <div class="table-full-width">
        <table class="table">                           <!-- Messages -->
            <thead>
                <tr>
                <th>Content</th>
                <th>Created</th>
                </tr>
            </thead>
            <tbody id="messages"></tbody>
        </table>
    </div>
</div>