<div class="header"><h4 class="title">Mom's Messages</h4></div>
<div class="content">
    <div class="table-full-width">                           <!-- Mom's Messages -->
        <table class="table">
            <thead>
                <tr>
                <th>Message</th>
                <th>Created</th>
                </tr>
            </thead>
            <tbody id="moms-messages"></tbody>
        </table>
    </div>
</div>