<div class="header"><h4 class="title">Pictures</h4></div>
<div class="content">
    <div class="table-full-width">
        <table class="table">                           <!-- Pictures -->
            <thead>
                <tr>
                <th>Pictures</th>
                <th>Created</th>
                </tr>
            </thead>
            <tbody id="pictures"></tbody>
        </table>
    </div>
</div>