<div class="header"><h4 class="title">Données scientifiques</h4></div>
<div class="content">
    <div id="chartActivity" class="ct-chart "></div>
    <h6>Legend</h6>
    <span class="label label-info">Views</span>
    <span class="label label-danger">Reads</span>
    <span class="label label-warning">Reads</span>
    <span class="label label-success">Reads</span>
    <div class="table-full-width">                           <!-- Scientifique -->
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Value</th>
                    <th>Created<th>
                </tr>
            </thead>
            <tbody id="science-datas"></tbody>
        </table>
    </div>
</div>